html {
  --grey: rgb(161, 161, 161);
}

h1 {
  color: var(--grey);
  padding: 1rem;
}

header > section form {
  padding: 1rem;
}

header > section form textarea {
  width: 100%;
  margin-bottom: 1.5rem;
}
a.action {
  background-color: var(--grey);
  padding: 0.75rem 1rem;
}

main {
  padding: 1rem;
  display: ;
}
section.historic {
  padding-bottom: 1rem;
  border-bottom: inset black;
}

@media (min-width: 700px) {
  header > section form {
    display: flex;
  }

  header > section form textarea {
    width: 75%;
    margin-bottom: 0;
    margin-right: 3.5rem;
  }
  a.action {
    background-color: var(--grey);
    padding: 0.75rem 1rem;
  }
  section.historic {
    display: flex;
    margin: auto;
    padding-bottom: 0;
  }
  section.historic article {
    width: 75%;
    margin-right: 4.5rem;
  }
  section.historic a {
    padding: 0.5rem;
    margin: 4rem 0 0.5rem 0;
  }
}
