@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

html {
  --dark: rgb(20, 20, 20);
  --blue: rgb(3, 120, 187);
  --white: rgb(255, 255, 255);
  --font: Baloo, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--font);
  color: var(--dark);
}

img {
  max-width: 100%;
}

header > figure img {
  height: 8rem;
  width: 8rem;
  border: solid 7px;
  border-radius: 50rem;
}

body {
  min-height: 100vh;
  background-color: var(--white);
}

nav {
  background-color: var(--dark);
  color: var(--white);
  padding: 0.5rem;
  font-weight: bolder;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  color: var(--white);
  margin: 0.5rem;
}

header {
  text-align: center;
  padding-top: 2rem;
}

header h1 {
  font-size: 3rem;
}
header h3 {
  padding: 1rem;
}
header h3 a {
  color: var(--dark);
}

header p {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

section {
  padding: 1rem;
}
section p {
  padding: 0.5rem;
}
section ul {
  padding-left: 1rem;
}
section ul li {
  padding-top: 0.5rem;
}

main#about header h3 {
  font-size: 2.5rem;
}
main#about section figure {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

a.click {
  background-color: var(--blue);
  padding: 0.5rem 2rem;
  color: var(--white);
  font-weight: bolder;
  display: inline-block;
}

@media (min-width: 700px) {
  main.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main.intro header {
    width: 100%;
  }
  main.intro section {
    width: 45%;
  }
  main.intro #experience h3 {
    font-weight: bolder;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
  main.intro #experience ul {
    font-size: 0.8rem;
  }
}
@media (min-width: 1000px) {
  main.intro header {
    padding-right: 0.5rem;
    width: 25%;
    text-align: end;
  }
  main.intro header h1 {
    font-size: 3.3rem;
  }
  main.intro section {
    width: 30%;
    padding: 1rem 0;
  }
  main.intro section#description {
    font-size: 1.3rem;
    font-weight: 600;
  }
  #about {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  main#about header {
    width: 30%;
    padding-right: 0.5rem;
  }

  main#about header h3 {
    font-size: 6rem;
    width: 100%;
    text-align: right;
  }
  main#about header a.click {
    margin-left: 68%;
  }
  #about section {
    width: 65%;
  }
  #about section figure img {
    width: 100%;
  }
}
