@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

html {
  --dark: rgb(20, 20, 20);
  --blue: rgb(3, 120, 187);
  --white: rgb(255, 255, 255);
  --font: Baloo, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: var(--font);
}

img {
  max-width: 100%;
}

header > figure img {
  height: 10rem;
  width: 10rem;
  border: solid 7px;
  border-radius: 50rem;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--dark-bg);
  min-height: 100vh;
  background-color: var(--white);
}

main {
  margin: 0 auto;
}

nav {
  background-color: var(--dark);
  color: var(--white);
  padding: 0.5rem;
  font-weight: bolder;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  color: var(--white);
  margin: 0.5rem;
}

header {
  text-align: center;
  padding-top: 2rem;
}

header h1 {
  font-size: 3rem;
}
header h3 {
  padding: 1rem;
}
header h3 a {
  color: var(--dark);
}

header p {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

section {
  padding: 1rem;
}
section p {
  padding: 0.5rem;
}
section ul {
  padding-left: 1rem;
}
section ul li {
  padding-top: 0.5rem;
}

a.click {
  background-color: var(--blue);
  padding: 0.5rem 2rem;
  color: var(--white);
  font-weight: bolder;
  display: inline-block;
}

@media (min-width: 500px) {
  section article {
    columns: 2;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 18px;
  }

  section > p {
    margin: 0 10%;
    text-align: center;
  }
  footer {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
  }
}
