@font-face {
  font-family: "Laker";
  src: url("/font/NBALakers.woff");
}

html {
  --away: rebeccapurple;
  --home: gold;
  --dark: #202020;
  --clear: #dddddd;
  --staples: Laker, sans-serif;
  padding-bottom: 10rem;
}

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: var(--staples);
  max-width: 100%;
  margin: 0 auto;
}

/* header */
header {
  padding: 0.5rem;

  background-image: url("/img/staplesPortada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 15rem;
}

header > h1 {
  color: var(--clear);
  order: 0;
}

header > nav {
  margin-bottom: 8rem;
}

header > nav ul {
  display: flex;
  list-style: none;
}

header > nav ul li {
  padding: 0.2rem;
  margin: 0 1rem;
  border-radius: 1rem;
  max-width: 100%;
}

header > nav ul li a {
  color: var(--home);
  text-decoration: none;
}

header > aside {
  background: var(--away);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

header > aside a {
  text-decoration: none;
  color: var(--home);
}

main {
  background: var(--away);
  color: var(--home);
  margin-bottom: 10rem;
}

main > section {
  padding: 2rem;
}

main > section h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

main > section ul {
  list-style: none;
}
main > section ul li {
  padding: 1rem 0;
}

main > section ul li article figure img {
  width: 100%;
  height: 30rem;
  display: block;
  object-fit: cover;
}

main > section ul li article section {
  background-color: var(--home);
  color: var(--away);
}

main > section ul li article section h3 {
  font-size: 3rem;
  text-shadow: 0 5px 3px var(--clear);
  padding: 0.5rem;
}
main > section ul li article section p {
  padding: 0.2rem;
}

main > section ul li article section a {
  background: var(--dark);
  color: var(--clear);
  display: block;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

main > section#form {
  padding: 2rem 0rem;
  background-color: var(--home);
  margin-bottom: 5rem;
}

#form h2 {
  color: var(--away);
  text-shadow: 3px 3px 0 var(--clear);
  font-size: 2rem;
  margin-bottom: 1rem;
}

#form form fieldset {
  border: 0;
  margin-bottom: 0.8rem;
}

#form form fieldset label {
  color: var(--away);
}

#form form input,
#form form textarea,
#form form select {
  width: 100%;
  border: 2px solid var(--away);
  padding: 0.25rem;
}

#form form textarea {
  min-height: 5rem;
}
section#form form fieldset.inline label {
  display: inline;
}
section#form form fieldset.inline input {
  width: auto;
}

#form form button {
  display: block;
  background: var(--away);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--home);
}

@media (min-width: 700px) {
  html {
    font-size: 18px;
  }
  header {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    min-height: 30rem;
  }
  header > nav {
    order: -1;
  }

  header > h1 {
    padding: 0.2rem;
    font-size: 3rem;
  }

  main > section:first-child {
    columns: 2;
  }

  #survey ul {
    display: flex;
  }
  #survey ul li:nth-child(2) {
    margin: 0 1rem;
  }
  #survey ul li article figure img {
    min-height: 20rem;
  }
  #survey ul li article section h3 {
    min-height: 12rem;
  }

  #form form {
    display: flex;
    flex-wrap: wrap;
  }

  #form form input,
  #form form textarea,
  #form form select {
    padding: 0.5rem;
  }

  #form form fieldset {
    width: 50%;
    padding: 0.5rem;
  }

  #form form fieldset:nth-child(3) {
    margin-right: 50%;
  }
  #form form fieldset.wide {
    width: 100%;
  }
  #form form fieldset.inline {
    margin-right: 80%;
  }

  #form form button {
    margin-right: 90%;
  }
}

@media (min-width: 950px) {
  header > nav {
    font-size: 2rem;
  }

  header > h1 {
    padding: 0.5rem;
    font-size: 3.5rem;
  }

  header > aside {
    font-size: 2rem;
  }
}

@media (min-width: 1300px) {
  #survey ul li article figure img {
    min-height: 45rem;
  }
}
